body {
    color: #333;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3em;

    background-image: url(images/graph.png);    background-size: contain;

    position: relative;
}

h1 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    font-weight: 600;
    margin: 10px auto;
    padding: 10px 0;
    transition: font 0.5s ease-in-out;
}

img {
    height: auto;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#portal {
    position: absolute;
    left: 2%;
    top: 2%;

    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;

    margin-top: 10px;
    padding: 10px 15px;
}


/* ------ intro styling ------ */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
    margin: auto;

    transition: all 0.25s ease-in-out;
}


#info {
    display: grid;
    grid-template-columns: 350px 530px;
    grid-template-rows: auto;
    column-gap: 60px;

    align-items: center;
    justify-content: center;

    background-image: url(images/graph.png);
    border-radius: 15px;


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    height: 70vh;
    z-index: 1;

    font-size: 1em;
    line-height: 1.5em;
}

#info h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
    
    font-size: 2.1em;
    line-height: 1em;
    margin-bottom: 30px;
}

#introImg {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
}

#introImg p {
    color: #888;
    font-size: 0.75em;
    line-height: 1.3em;

    margin-top: 10px;
    padding: 0;
    text-align: center;
}

#introText{
    grid-column: 2;
    grid-row: 2;
}

#introText p {
    font-weight: 500;
}

#meet {
    background-color: #333;
    color: #fff;
    cursor: pointer;

    margin-top: 10px;
    padding: 10px 15px;
}

/* ------ grid styling ------ */
#container {
    display: grid;
    grid-template-columns: 170px 170px 360px 170px 170px;
    grid-template-rows:  auto auto auto;
    column-gap: 1em;

    text-align: center;
    align-items: end;
    justify-content: center;

    padding: 30px;
    margin: auto;
}

#container img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.zoom {
    transform: scale(1.15);
}

#a {
    grid-column: 3;
    grid-row: 1;

    align-self: start;
    margin-top: 30px;
}

#a p {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

#a #code {
    font-size: 4em;
    font-weight: 700;
    color: #ff00cc;
    margin-top: -20px;
}

#i {    
    position: absolute;
    right: 0;
    top: 6%;
    transform: translate(-50%, -50%);

    opacity: 1;
    border: 1.5px solid #888;
    border-radius: 50px;
}

#i button {
    padding: 10px 18px;
    border-radius: 50px;
}

#joanna {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#char {
    grid-column: 1 / span 1;
    grid-row: 2;
}

#judy {
    grid-column: 2 / span 1;
    grid-row: 2;
}

#kazim {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#f {
    grid-column: 3;
    grid-row: 2;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

#f img {
    cursor: default;
}

#g {
    grid-column:3;
    grid-row: 3;
}

#anthony {
    grid-column: 4 / span 2;
    grid-row: 1;
}

#alana {
    grid-column: 4 / span 1;
    grid-row: 2;
}

#alex {
    grid-column: 5 / span 1;
    grid-row: 2;
}

#thi {
    grid-column: 4 / span 2;
    grid-row: 3;
}

/* ------ overlay styling ------ */

#grid {
    display: grid;
    grid-template-columns: 330px 380px 330px;
    grid-template-rows: 120px 480px 40px;

    text-align: center;
    align-items: center;

    background-image: url(images/graph.png);
    border-radius: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px 40px;
}

#grid h2 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: flex-end;

    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

button, a {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #565656;

    transition: all 0.3s ease-in-out;
}

button:hover, a:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: rotate(5deg);
}

#back {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: flex-start;

    margin-top: 25px;
    padding: 5px 15px;
}

#mainimg {
    grid-row: 2;
}

.description1 {
    grid-row: 2 / span 2;

    display: flex;
    flex-direction: column;

    font-size: 1.3em;
    margin: 0 30px;

    transition: all 0.25s ease-in-out;
}

.left1 {
    transform: rotate(11deg);
}

.left2 {
    transform: rotate(5deg);

    font-size: 1em;
    font-weight: 400;
}

.left3 {
    transform: rotate(-5deg);
}

.left4 {
    transform: rotate(-11deg);
    font-size: 1.5em;
}

#next {
    grid-column: 2;
    grid-row: 3;

    align-self: start;
    justify-self: center;
    opacity: 0;
}

#next {
    padding: 10px 30px;
    align-self: flex-start;
}

#next:hover, #meet:hover {
    transform: rotate(-5deg);
}

.delay {
    animation-name: delay;
    animation-duration: 1s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.delayStart {
    opacity: 1;

    animation-name: delayStart;
    animation-duration: 1s;;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes delay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes delayStart {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes zoomout{
    0% {transform: translateY(-100px);}
    100% {transform: translateY(100px);}
}

/* .description1 p {
    animation-name: jitter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes jitter {
    0%, 100% {transform: rotate(0.7deg);}
    50% {transform: rotate(-0.1deg);}
} */