body {
    color: #333;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3em;

    background-image: url(images/graph.png);
    /* background-repeat: no-repeat; */
    background-size: contain;

    position: relative;

        /* max-width: 100vw;
    max-height: 100vh; */

}

h1 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 20px;
}

figcaption {
    font-size: 1.1em;
    font-weight: 500;
    margin: 10px auto;
    width: fit-content;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* ------ grid styling ------ */
#container {
    display: grid;
    grid-template-columns: 180px 180px 360px 180px 180px;
    grid-template-rows:  auto auto auto;
    column-gap: 1.75em;
    row-gap: 1em;

    text-align: center;
    align-items: end;
    justify-content: center;

    padding-top: 30px;
    max-width: 100vw;
    max-height: 100vh;
}

#container img {
    cursor: pointer;
    transition: scale 0.5s ease-in-out;
}

.zoom {
    scale: 1.15;
}

#a {
    grid-column: 3;
    grid-row: 1;

    align-self: start;
}

#a p {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
}

#a #code {
    font-size: 4em;
    font-weight: 700;
    color: #ff00cc;
    margin-top: -20px;
}

#b {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#c {
    grid-column: 1 / span 1;
    grid-row: 2;
}

#d {
    grid-column: 2 / span 1;
    grid-row: 2;
}

#e {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#f {
    grid-column: 3;
    grid-row: 2;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

#g {
    grid-column:3;
    grid-row: 3;
}

#g button {
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    padding: 20px 80px;

    margin: 0 auto;
}

#h {
    grid-column: 4 / span 2;
    grid-row: 1;
}

#i {
    grid-column: 4 / span 1;
    grid-row: 2;
}

#j {
    grid-column: 5 / span 1;
    grid-row: 2;
}

#k {
    grid-column: 4 / span 2;
    grid-row: 3;
}

/* ------ overlay styling ------ */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
    margin: auto;

    transition: all 0.25s ease-in-out;
    
}

#grid {
    display: grid;
    grid-template-columns: 330px 380px 330px;
    grid-template-rows: 120px 480px 40px;

    text-align: center;
    align-items: center;
    padding: 10px 40px 50px;
    background-image: url(images/graph.png);
    border-radius: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    
    /* animation-name: zoomout;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
}

#grid h2 {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: flex-end;

    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #565656;

    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: rotate(5deg);
}

#back {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: flex-start;

    margin-top: 25px;
    padding: 5px 15px;
}

#mainimg {
    grid-row: 2;
}

.description1 {
    grid-row: 2 / span 2;

    display: flex;
    flex-direction: column;
    gap: -10px;
    /* align-content: center; */

    font-size: 1.3em;
    margin: 0 30px;
}

.left1 {
    transform: rotate(11deg);
}

.left2 {
    transform: rotate(5deg);

    font-size: 1em;
    font-weight: 400;
}

.left3 {
    transform: rotate(-5deg);
}

.left4 {
    transform: rotate(-11deg);
    font-size: 1.5em;
}

#next {
    grid-column: 2;
    grid-row: 3;

    align-self: start;
    justify-self: center;


    /* opacity: 0;
    animation-name: delay;
    animation-duration: 1s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
}

#next {
    padding: 10px 30px;
    align-self: flex-start;
}

#next:hover {
    transform: rotate(-5deg);
}

@keyframes delay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* .zoomout {
    animation-name: zoomout;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
} */

@keyframes zoomout{
    0% {transform: translateY(-100px);}
    100% {transform: translateY(100px);}
}

/* .description1 p {
    animation-name: jitter;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes jitter {
    0%, 100% {transform: rotate(0.7deg);}
    50% {transform: rotate(-0.1deg);}
} */