body {
    max-width: 1200px;
    min-width: 800px;
    color: #F2F2F2;
}

main {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

header {
    border-radius: 5px;
    color: #4A4A4A;
    margin: 60px 30px;
}

#banner {
    background-color: #E0EDF4;
    overflow: hidden;
    /* padding: 30px 60px; */
    width: 1100px;
    height: 250px;
}

#vinyl {
    animation-name: vinyl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;

    margin: 0;
    width: 600px;
    height: 600px;

    position: relative;
    right: -500px;
    bottom: 150px;

    z-index: 1;
}

#shadow {
    position: relative;
    right: -500px;
    bottom: 647px;
    z-index: 0;

    margin: 0;
    width: 600px;
}

@keyframes vinyl {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

h1, h2 {
    font-family: 'Lora';
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
}


section {
    border-radius: 5px;
    padding: 30px;
    width: 270px;
}

#studios {
    background-color: #846AAD;
}

#research {
    background-color: #2D5CA3;
    margin: 0px 50px;
}

#final {
    background-color: #669D43;
}

ul {
    padding-left: 0; 
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

footer {
    background-color: #E5CA93;
    margin: 0;
    padding: 10px;
}