body {
    font-family: 'Bitter', serif;
    line-height: 1.6em;
    max-width: 1200px;
    min-width: 800px;
    color: #F2F2F2;
}

#content {
    margin: 30px;
}

main {
    display: flex;
    flex-direction: row;
}

header {
    border-radius: 5px;
    color: #4A4A4A;
    margin: 30px;
}

#banner {
    background-color: #E0EDF4;
    overflow: hidden;
    /* padding: 30px 60px; */
    width: 1100px;
    height: 250px;
}

#vinyl img{
    animation-play-state: paused;
    margin: 0px;
    width: 600px;
    height: 600px;

    position: relative;
    right: -500px;
    bottom: 150px;

    z-index: 1;
}

#vinyl:hover img {
    animation-name: vinyl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    transform-origin: center;
}

#shadow {
    position: relative;
    right: -500px;
    bottom: 647px;
    z-index: 0;

    margin: 0px;
    width: 600px;
}

@keyframes vinyl {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

h1, h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 1.5em;
}


section {
    border-radius: 5px;
    margin: auto;
    padding: 30px;
    width: 270px;
    height: 270px;
}

#studios {
    background-color: #846AAD;
    margin-left: 30px;
}

#research {
    background-color: #2D5CA3;
    margin: 0px 30px 0px;
}

#final {
    background-color: #669D43;

}

#final ul li a:hover {
    border-left: 3px solid #B3CEA1;
    /* color: #4A4A4A; */
    /* padding: 10px 0px; */
}

ul {
    padding-left: 5px; 
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    border-left: 3px solid transparent;
    padding: 5px 15px;
}



footer {
    background-color: #E5CA93;
    padding: 10px;
    width: 100%;

    position: absolute;
    bottom: 0;
}