.container {
    margin: 60px auto 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

body {
    color: #333;
    line-height: 1.5em;
    font-family: 'Bitter', serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 10px 30px;
    text-align: right;

    position: fixed;
    top: 0%;
    width: 96%;
}

header h1,h2 {
    font-size: 1em;
    font-weight: 300;
}

header h1 {
    color: #49354a;
    font-weight: 800;
}

h1, h2 {
    font-family: 'Lora', serif;
}

article {
    background-color: #D4D3F8;

    border-radius: 5px;
    padding: 50px;
    width: 560px;
    height: 560px;
}

#long article {
    width: 1000px;
}

#long p {
    margin-bottom: 0px;
}

article h2 {
    font-size: 1.6em;
    margin: 0 0 15px;
}

article date {
    color: #49354a;
    font-size: 0.8em;
    margin-bottom: 20px;
}

article p {
    font-size: 0.85em;
}

a {
    font-size: 0.95em;
}

#second {
    background-color: #D4EBF8;
}

.content {
    column-count: 2;
    column-gap: 30px;
    column-fill: auto;
    height: 480px;
    margin-top: 10px;
}

.portal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: 0.8em;
}

.portal p {
    font-size: 0.9em;
    line-height: 1em;
    margin: 5px;
}

#vinyl {
    z-index: -1;
}

#vinyl img {
    height: 50%;
} 

.content img {
    display: block;
    height: 30%; 
    width: auto;
    margin: auto;
}

figcaption {
    font-size: 0.7em;
    margin: 5px auto;
    text-align: center;
}

/* ----- footer ----- */

footer {
    background-color: #E5CA93;
    padding: 10px;
    width: 100%;
    text-align: center;

    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #4A4A4A;
}