/* ----- general ----- */
.showing {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 120px;
    /* padding: 50px 0px 0px; */
    justify-content: center;
}

.hidden {
    display: none;
}

.displayForm {
    display: block;
}

/* ----- intro ----- */
body {
    background-color: #222;
    color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 1200px;
    height: 750px;
}

/* #intro {
    display: flex;
    align-items: center;
    gap: 60px;
} */

#intro h1 {
    font-size: 3em;
}

#intro p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 30px 0px;
}

#start {
    background-color: #007AFF;
    color: #F8F8F8;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 15px 50px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

#start:hover {
    background-color: #E9E9EB;
    color: #007AFF;
}

/* ----- inputs ----- */

#input {
    gap: 300px;
    padding-top: 60px;
    position: relative;
}


body {
    background-color: #222;
    transition: backrgoundColor 5s ease-in-out;
}

#input img {
    position: absolute;
    top: 90%;
    left: 15%;
/* 
    transform-origin: center; */
}

#input form {
    background-color: #F5F5F5;
    border-radius: 15px;
    color: #333;
    width: 35%;

    position: absolute;
    top: 90%;
    left: 45%;

}

#form1, #form2 {
    margin: auto;
    padding: 40px 40px 0px;
}

h2 {
    font-size: 24px;
    font-weight: 550;
    margin: 0;
    padding: 40px 0px 0px;
    text-align: center;
}

label, input {
    display: block;
}

label {
    margin-bottom: 8px;

}

#form1 input, #form2 input {
    border: 1.5px solid transparent;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 8px;
    width: 95%;
}

#form1 input[type="text"]:focus, #form2 input[type="text"]:focus {
    border: 1.5px solid #B2B2B5;
    outline: 0;
    transition: border 250ms linear;
}

#input p {
    color: #888;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    border-radius: 0 0; 
}

#buttons button, #submit {
    background-color: #F5F5F5;
    border: 0;
    border-top: 1px solid #B2B2B5;
    color: #007AFF;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 23px;
    width: 100%;
    transition: color 0.2s ease-in-out;
}

#buttons button:hover, #submit:hover {
    color: rgb(58, 58, 165);
    cursor: pointer;
}

#buttons .back {
    border-right: 1px solid #B2B2B5;
    border-bottom-left-radius: 15px;
}

#buttons #next, #submit {
    border-bottom-right-radius: 15px;
}



/* #next {
    background-color: #F5F5F5;
    border: 0;
    border-top: 1px solid #B2B2B5;
    color: #007AFF;
    font-weight: 600;
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
} */

/* #submit {
    background-color: #F5F5F5;
    border: 0;
    border-top: 1px solid #B2B2B5;
    color: #007AFF;
    font-weight: 600;
    margin: 0;
    padding-top: 30px;
} */

/* ---- outputs ----- */

#output {
    gap: 160px;
    padding-top: 60px;
}

#output h1{
    font-size: 3em;
    font-weight: 600;
    color: #333;
}

/* #phone {
    overflow: hidden;
    background-image: url(images/emptyPhone.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 600px;
    width: 286px;
} */

#phone {
    position: relative;
    font-size: 0.92em;
}

#messages {
    /* background-color: #222; */
    border-radius: 0px 0px 40px 40px;
    overflow: scroll;
    width: 295px;
    height: 515px;
    position: absolute;
    bottom: 3%;
    left: 4%;
}

.sender {
    background-color: #007AFF;
    border-radius: 15px;
    margin: 15px 15px 20px auto;
    padding: 10px 15px;
    width: fit-content;
    max-width: 60%;
}

.receiver {
    background-color: #ECECEC;
    border-radius: 15px;
    color: #333;
    margin: 0px auto 20px 15px;
    padding: 10px 15px;
    width: fit-content;
    max-width: 60%;
}

/* .short {
    width: 30%;
}

.long {
    width: 60%;
} */

.followup {
    margin: 5px 10px 5px auto;
}

.last {
    margin-bottom: 20px;
}

#sender1 {
    width: fit-content;
}