/* ------ general styles and typography ------ */

body {
    font-family: 'VT323', monospace;
    color: #3f3f3f;
    line-height: 1.6em;

    width: 100vw;
    height: 100vh;

    position: relative;
    overflow: hidden;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

#game h3 {
    /* font-family: 'Source Code Pro', monospace; */
    font-size: 1em;
}

#score0 p, #score1 p {
    font-family: 'VT323', monospace;
    font-size: 2.3em;
    color: #0d0d0d;
    padding: 10px 0 0;
}

.showing {
    opacity: 1;
    visibility: visible;
    display: block;
}

.hidden {
    display: none;
}

.hiddenSmooth {
    opacity: 0;
    visibility: hidden;
}

.overlayBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
    margin: auto;

    transition: all 0.25s ease-in-out;

    z-index: 3;
}

button { 
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
}

div {
    padding: 20px;
}

/* ------ preloader section ------ */

#preloader {
    display: flex;
	flex-direction: row;
    align-items: center;
    z-index: 6;
    /* background: #e4e4e4; */
    background: rgb(232,227,255);
    background: linear-gradient(180deg, rgba(232,227,255,1) 0%, rgba(230,247,255,1) 100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 1s ease-in-out;
}

#loadImg {
    height: auto;
    width: 100vw;
    
    position: absolute;
    bottom: -50%;
    opacity: 0.7;
    z-index: -1;
}

#preloader div {
    padding: 0 60px;
}

#preloader h2 {
    color: #454545;
    font-family: 'VT323', monospace;
    font-size: 3.8em;
    margin-bottom: 50px;
}

#preloader p {
    font-size: 1.6em;
}

#preloadBlocks {
    display: flex;
    flex-direction: column-reverse;
    align-self: end;

    position: relative;
    width: 18vw;
    height: 100vh;
}

#preloadBlocks img {
    position: absolute;
}

#loadbase {
    left: 33%;
    bottom: 0px;
}

#load1 {
    left: 45%;
    bottom: 120px;
}

#load2 {
    left: 53%;
    bottom: 240px;
}

#load3 {
    left: 38%;
    bottom: 360px;
}

#load4 {
    left: 42%;
    bottom: 480px;
}

#load5 {
    left: 43%;
    bottom: 600px;
}

#load6 {
    left: 40%;
    bottom: 720px;
}


/* ------ intro section ------ */

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: aliceblue;
    border-radius: 15px;
    padding: 60px;

    z-index: 1;
}

/* ------ game control section ------ */

#gamecontrol {
    display: flex;
    justify-content: space-between;
    width: 97vw;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#gamecontrol button {
    background-color: #e6e6e6;
    color: #3f3f3f;
    border: 1px solid #333;
    border-radius: 5px;

    opacity: 0.6;
}

#score {
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* ------ score section ------ */

#score0, #score1 {
    font-size: 1.5em;
    text-align: center;
}

#score0 h3, #score1 h3 {
    margin-bottom: 0;
}

#score0 p, #score1 p {
    margin-top: 10px;
}

/* ------ gameplay section ------ */

#game {
    display: flex;

    position: relative;
    padding: 0;
    overflow: hidden;
}

#game0, #game1 {
    /* background-image: url(images/compBg.png);
    background-attachment: fixed;
    background-position: left bottom; 
    background-size: 600px; */
    height: 100vh;
    width: 50vw;

    /* transition: all 2s ease-in-out; */
}

.bg {
    height: auto;
    width: 50vw;
    
    position: absolute;
    bottom: 0;
    z-index: -1;

    transition: all 2s ease-in-out;
}

#gameDivider0, #gameDivider1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    padding: 0;

    transition: all 0.5s ease-in-out;
}

#gameDivider1 {
    left: 50%;
}

.currentRoll {
    font-size: 2em;
    position: absolute;

    z-index: 5;
}

.currentRoll p {
    animation-name: score;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes score {
    0% {transform: scale(0.5);}
    100% {transform: scale(1.3);}
}


/* ------ gameplay blocks section ------ */
#blocks0, #blocks1 {
    height: 80vh;

    position: relative;
    bottom: 25%;

    transition: all 1s ease-in-out;
}

#blocks0 p, #blocks1 p {
    background-color: #A4B8E3;
    margin-top: -35px;
    padding: 0 10px;
    width: fit-content;
}

#blocks1 p {
    background-color: #E0B0CE;
}

.blocks {
    padding: 0;
    height: 88px;

    position: absolute;
    left: 38%;
}

.appear {
    animation-name: pop;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.17,.67,.04,1.31);
    animation-fill-mode: forwards;
}

@keyframes pop {
    0% {transform: translateY(-100px);}
    100% {transform: translateY(0px);}
}

.disappear {
    animation-name: poof;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes poof {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

/* ------ player actions section ------ */

#playerActions {
    display: grid;
    grid-template-columns: 0.75fr 2.5fr 0.75fr 2.5fr;
    grid-template-rows: auto;
    align-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);
    color: #e6e6e6;
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    padding: 20px 0; 
}

h4 {
    font-size: 1.6em;
    padding-left: 30px;
}

#p1 {
    grid-column: 1;
    grid-row: 1;
}

#p2 {
    grid-column: 3;
    grid-row: 1;
}

#actions button {
    background-color: rgba(148,187,233,1);
    border: none;
    border-radius: 4px;
    margin: 0 15px;
    padding: 15px 30px;

    font-size: 1em;
    font-weight: 600;
}

